<?xml version="1.0"?>
<robot name="kxrl2l6a7h2m"
       xmlns:xi="http://www.w3.org/2001/XInclude">
  <link name="torso-link-l2l6m">
    <visual>
      <origin xyz="-8e-06 0 0.198982" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/torso-link-l2l6m_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-8e-06 0 0.198982" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/torso-link-l2l6m_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.396814" />
      <origin xyz="-0.005997 2.35125e-10 0.029897" rpy="0 -0 0"/>
      <inertia ixx="0.0013" ixy="-8.28635e-06" ixz="-1.69531e-06" iyy="0.001354" iyz="1.47278e-06" izz="0.002195"/>
    </inertial>
  </link>
  <link name="head-neck-y">
    <visual>
      <origin xyz="-0.00725 0 0.084" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.00725 0 0.084" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.037398" />
      <origin xyz="0 1.22056e-18 0.023093" rpy="0 -0 0"/>
      <inertia ixx="6.28707e-05" ixy="3.12188e-21" ixz="8.61164e-09" iyy="6.69539e-05" iyz="-5.25778e-09" izz="2.5436e-05"/>
    </inertial>
  </link>
  <link name="head-neck-p">
    <visual>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.091453" />
      <origin xyz="-0.000907 -1.08531e-18 0.164347" rpy="0 -0 0"/>
      <inertia ixx="0.000528" ixy="-1.79922e-07" ixz="-6.65543e-08" iyy="0.000514" iyz="-1.79583e-08" izz="0.000108"/>
    </inertial>
  </link>
  <link name="larm-shoulder-y">
    <visual>
      <origin xyz="-0.00325 0.067 0.069" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.00325 0.067 0.069" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.008556 0 -0.013148" rpy="0 -0 0"/>
      <inertia ixx="7.27252e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.0968e-05" iyz="1.21718e-07" izz="6.79778e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-p">
    <visual>
      <origin xyz="0 0.015 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.015 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.023657" />
      <origin xyz="1.30104e-18 0 0.015828" rpy="0 -0 0"/>
      <inertia ixx="8.62892e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="3.58821e-05" iyz="2.68346e-09" izz="6.55075e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-r">
    <visual>
      <origin xyz="0 0.042 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.042 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 0.008556 1.38778e-17" rpy="0 -0 0"/>
      <inertia ixx="0.000129" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.57562e-05" iyz="1.21718e-07" izz="0.000122"/>
    </inertial>
  </link>
  <link name="larm-elbow-y">
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-elbow-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-elbow-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012939" />
      <origin xyz="0 0 0.016427" rpy="0 -0 0"/>
      <inertia ixx="7.94925e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="1.69978e-05" iyz="-4.7056e-09" izz="6.64162e-05"/>
    </inertial>
  </link>
  <link name="larm-elbow-p">
    <visual>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05298" />
      <origin xyz="0.014792 0 -0.005477" rpy="0 -0 0"/>
      <inertia ixx="0.000109" ixy="5.66051e-08" ixz="1.81382e-08" iyy="2.95587e-05" iyz="-6.74218e-07" izz="0.000114"/>
    </inertial>
  </link>
  <link name="larm-wrist-p">
    <visual>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="0 0.013148 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="0.000118" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="5.38695e-05" iyz="1.21718e-07" izz="0.000125"/>
    </inertial>
  </link>
  <link name="larm-wrist-r">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.042589" />
      <origin xyz="0.009052 0.126431 -0.03" rpy="0 -0 0"/>
      <inertia ixx="0.000117" ixy="-6.04936e-23" ixz="8.61164e-09" iyy="2.86431e-05" iyz="-5.25778e-09" izz="0.000122"/>
    </inertial>
  </link>
  <link name="larm-gripper-r">
    <visual>
      <origin xyz="0.0315 0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 0.016764 3.46945e-18" rpy="0 -0 0"/>
      <inertia ixx="0.000111" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.73986e-05" iyz="-1.52851e-07" izz="0.000115"/>
    </inertial>
  </link>
  <link name="larm-gripper2-r">
    <visual>
      <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 -0.019242 2.42861e-17" rpy="0 -0 0"/>
      <inertia ixx="6.62446e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.73986e-05" iyz="-1.52851e-07" izz="7.02771e-05"/>
    </inertial>
  </link>
  <link name="lleg-crotch-y">
    <visual>
      <origin xyz="0 0.034 -0.028" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.034 -0.028" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.83465e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="1.77687e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="1.32078e-05" iyz="2.68346e-09" izz="9.44173e-06"/>
    </inertial>
  </link>
  <link name="lleg-crotch-r">
    <visual>
      <origin xyz="0 0 -0.031" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.031" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 0 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="6.25338e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.50628e-05" iyz="1.21718e-07" izz="5.56e-05"/>
    </inertial>
  </link>
  <link name="lleg-crotch-p">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-crotch-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-crotch-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.022434" />
      <origin xyz="3.51186e-19 0 -0.033737" rpy="0 -0 0"/>
      <inertia ixx="7.72677e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="6.83376e-05" iyz="6.8972e-10" izz="1.64071e-05"/>
    </inertial>
  </link>
  <link name="lleg-knee-p">
    <visual>
      <origin xyz="0 0 -0.058" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-knee-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.058" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-knee-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0543" />
      <origin xyz="0.010966 0 -0.012284" rpy="0 -0 0"/>
      <inertia ixx="0.000142" ixy="5.54708e-08" ixz="2.00452e-08" iyy="0.000131" iyz="-6.81607e-07" izz="4.09421e-05"/>
    </inertial>
  </link>
  <link name="lleg-ankle-p">
    <visual>
      <origin xyz="0 0 -0.057976" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-ankle-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.057976" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-ankle-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 6.93889e-18 0.008556" rpy="0 -0 0"/>
      <inertia ixx="0.000154" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="0.000156" iyz="1.21718e-07" izz="5.56e-05"/>
    </inertial>
  </link>
  <link name="lleg-ankle-r">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-ankle-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/lleg-ankle-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.038432" />
      <origin xyz="-1.84881e-19 0.007514 -0.025416" rpy="0 -0 0"/>
      <inertia ixx="0.000371" ixy="3.74795e-08" ixz="-1.78739e-07" iyy="0.000217" iyz="-5.24227e-07" izz="0.000159"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-y">
    <visual>
      <origin xyz="-0.00325 -0.067 0.069" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.00325 -0.067 0.069" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.008556 0 -0.013148" rpy="0 -0 0"/>
      <inertia ixx="7.27252e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.0968e-05" iyz="1.21718e-07" izz="6.79778e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-p">
    <visual>
      <origin xyz="0 -0.015 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.015 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.023657" />
      <origin xyz="1.30104e-18 0 0.015828" rpy="0 -0 0"/>
      <inertia ixx="8.62892e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="3.58821e-05" iyz="2.68346e-09" izz="6.55075e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-r">
    <visual>
      <origin xyz="0 -0.042 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.042 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 -0.008556 1.38778e-17" rpy="0 -0 0"/>
      <inertia ixx="0.000129" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.57562e-05" iyz="1.21718e-07" izz="0.000122"/>
    </inertial>
  </link>
  <link name="rarm-elbow-y">
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-elbow-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-elbow-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012939" />
      <origin xyz="0 0 0.016427" rpy="0 -0 0"/>
      <inertia ixx="7.94925e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="1.69978e-05" iyz="-4.7056e-09" izz="6.64162e-05"/>
    </inertial>
  </link>
  <link name="rarm-elbow-p">
    <visual>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05298" />
      <origin xyz="0.014792 0 -0.005477" rpy="0 -0 0"/>
      <inertia ixx="0.000109" ixy="5.66051e-08" ixz="1.81382e-08" iyy="2.95587e-05" iyz="-6.74218e-07" izz="0.000114"/>
    </inertial>
  </link>
  <link name="rarm-wrist-p">
    <visual>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="0 -0.013148 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="0.000118" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="5.38695e-05" iyz="1.21718e-07" izz="0.000125"/>
    </inertial>
  </link>
  <link name="rarm-wrist-r">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.042589" />
      <origin xyz="0.009052 -0.126431 -0.03" rpy="0 -0 0"/>
      <inertia ixx="0.000117" ixy="-2.73538e-23" ixz="8.61164e-09" iyy="2.86431e-05" iyz="-5.25778e-09" izz="0.000122"/>
    </inertial>
  </link>
  <link name="rarm-gripper-r">
    <visual>
      <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 -0.016764 2.08167e-17" rpy="0 -0 0"/>
      <inertia ixx="0.000111" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.73986e-05" iyz="-1.52851e-07" izz="0.000115"/>
    </inertial>
  </link>
  <link name="rarm-gripper2-r">
    <visual>
      <origin xyz="0.0315 0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rarm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 0.019242 3.1225e-17" rpy="0 -0 0"/>
      <inertia ixx="6.62446e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.73986e-05" iyz="-1.52851e-07" izz="7.02771e-05"/>
    </inertial>
  </link>
  <link name="rleg-crotch-y">
    <visual>
      <origin xyz="0 -0.034 -0.028" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.034 -0.028" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.83465e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="1.77687e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="1.32078e-05" iyz="2.68346e-09" izz="9.44173e-06"/>
    </inertial>
  </link>
  <link name="rleg-crotch-r">
    <visual>
      <origin xyz="0 0 -0.031" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.031" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 0 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="6.25338e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.50628e-05" iyz="1.21718e-07" izz="5.56e-05"/>
    </inertial>
  </link>
  <link name="rleg-crotch-p">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-crotch-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-crotch-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.022434" />
      <origin xyz="3.51186e-19 0 -0.033737" rpy="0 -0 0"/>
      <inertia ixx="7.72677e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="6.83376e-05" iyz="6.8972e-10" izz="1.64071e-05"/>
    </inertial>
  </link>
  <link name="rleg-knee-p">
    <visual>
      <origin xyz="0 0 -0.058" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-knee-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.058" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-knee-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0543" />
      <origin xyz="0.010966 0 -0.012284" rpy="0 -0 0"/>
      <inertia ixx="0.000142" ixy="5.54708e-08" ixz="2.00452e-08" iyy="0.000131" iyz="-6.81607e-07" izz="4.09421e-05"/>
    </inertial>
  </link>
  <link name="rleg-ankle-p">
    <visual>
      <origin xyz="0 0 -0.057976" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-ankle-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.057976" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-ankle-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 6.93889e-18 0.008556" rpy="0 -0 0"/>
      <inertia ixx="0.000154" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="0.000156" iyz="1.21718e-07" izz="5.56e-05"/>
    </inertial>
  </link>
  <link name="rleg-ankle-r">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-ankle-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a7h2m/meshes/rleg-ankle-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.038432" />
      <origin xyz="3.8825e-18 -0.007514 -0.025416" rpy="0 -0 0"/>
      <inertia ixx="0.000371" ixy="3.74795e-08" ixz="-1.78739e-07" iyy="0.000217" iyz="-5.24227e-07" izz="0.000159"/>
    </inertial>
  </link>
  <joint name="head-neck-y" type="revolute">
    <parent link="torso-link-l2l6m"/>
    <child  link="head-neck-y"/>
    <origin xyz="-0.00725 0 0.084" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-neck-p" type="revolute">
    <parent link="head-neck-y"/>
    <child  link="head-neck-p"/>
    <origin xyz="0 0 0.036" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.0944" upper="2.0944" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-y" type="revolute">
    <parent link="torso-link-l2l6m"/>
    <child  link="larm-shoulder-y"/>
    <origin xyz="-0.00325 0.067 0.069" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-p" type="revolute">
    <parent link="larm-shoulder-y"/>
    <child  link="larm-shoulder-p"/>
    <origin xyz="0 0.015 0" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-r" type="revolute">
    <parent link="larm-shoulder-p"/>
    <child  link="larm-shoulder-r"/>
    <origin xyz="0 0.042 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-elbow-y" type="revolute">
    <parent link="larm-shoulder-r"/>
    <child  link="larm-elbow-y"/>
    <origin xyz="0 0 -0.015" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-elbow-p" type="revolute">
    <parent link="larm-elbow-y"/>
    <child  link="larm-elbow-p"/>
    <origin xyz="0 0 -0.041" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-wrist-p" type="revolute">
    <parent link="larm-elbow-p"/>
    <child  link="larm-wrist-p"/>
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.18166" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-wrist-r" type="revolute">
    <parent link="larm-wrist-p"/>
    <child  link="larm-wrist-r"/>
    <origin xyz="0.015 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper-r" type="revolute">
    <parent link="larm-wrist-r"/>
    <child  link="larm-gripper-r"/>
    <origin xyz="0.0315 0.0105 0" rpy="0 -0 0 "/>
    <axis   xyz="2.22045e-16 0 1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper2-r" type="revolute">
    <parent link="larm-wrist-r"/>
    <child  link="larm-gripper2-r"/>
    <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 -1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-y" type="revolute">
    <parent link="torso-link-l2l6m"/>
    <child  link="lleg-crotch-y"/>
    <origin xyz="0 0.034 -0.028" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-r" type="revolute">
    <parent link="lleg-crotch-y"/>
    <child  link="lleg-crotch-r"/>
    <origin xyz="0 0 -0.031" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.65806" upper="1.65806" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-p" type="revolute">
    <parent link="lleg-crotch-r"/>
    <child  link="lleg-crotch-p"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.35619" upper="1.5708" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-knee-p" type="revolute">
    <parent link="lleg-crotch-p"/>
    <child  link="lleg-knee-p"/>
    <origin xyz="0 0 -0.058" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1.74533" upper="2.79253" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-ankle-p" type="revolute">
    <parent link="lleg-knee-p"/>
    <child  link="lleg-ankle-p"/>
    <origin xyz="0 0 -0.057976" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1.8326" upper="1.8326" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-ankle-r" type="revolute">
    <parent link="lleg-ankle-p"/>
    <child  link="lleg-ankle-r"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-y" type="revolute">
    <parent link="torso-link-l2l6m"/>
    <child  link="rarm-shoulder-y"/>
    <origin xyz="-0.00325 -0.067 0.069" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-p" type="revolute">
    <parent link="rarm-shoulder-y"/>
    <child  link="rarm-shoulder-p"/>
    <origin xyz="0 -0.015 0" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-r" type="revolute">
    <parent link="rarm-shoulder-p"/>
    <child  link="rarm-shoulder-r"/>
    <origin xyz="0 -0.042 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-elbow-y" type="revolute">
    <parent link="rarm-shoulder-r"/>
    <child  link="rarm-elbow-y"/>
    <origin xyz="0 0 -0.015" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-elbow-p" type="revolute">
    <parent link="rarm-elbow-y"/>
    <child  link="rarm-elbow-p"/>
    <origin xyz="0 0 -0.041" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-wrist-p" type="revolute">
    <parent link="rarm-elbow-p"/>
    <child  link="rarm-wrist-p"/>
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.18166" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-wrist-r" type="revolute">
    <parent link="rarm-wrist-p"/>
    <child  link="rarm-wrist-r"/>
    <origin xyz="0.015 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-gripper-r" type="revolute">
    <parent link="rarm-wrist-r"/>
    <child  link="rarm-gripper-r"/>
    <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 -1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-gripper2-r" type="revolute">
    <parent link="rarm-wrist-r"/>
    <child  link="rarm-gripper2-r"/>
    <origin xyz="0.0315 0.012979 0" rpy="0 -0 0 "/>
    <axis   xyz="4.44089e-16 0 1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-y" type="revolute">
    <parent link="torso-link-l2l6m"/>
    <child  link="rleg-crotch-y"/>
    <origin xyz="0 -0.034 -0.028" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-r" type="revolute">
    <parent link="rleg-crotch-y"/>
    <child  link="rleg-crotch-r"/>
    <origin xyz="0 0 -0.031" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.65806" upper="1.65806" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-p" type="revolute">
    <parent link="rleg-crotch-r"/>
    <child  link="rleg-crotch-p"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.35619" upper="1.5708" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-knee-p" type="revolute">
    <parent link="rleg-crotch-p"/>
    <child  link="rleg-knee-p"/>
    <origin xyz="0 0 -0.058" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1.74533" upper="2.79253" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-ankle-p" type="revolute">
    <parent link="rleg-knee-p"/>
    <child  link="rleg-ankle-p"/>
    <origin xyz="0 0 -0.057976" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1.8326" upper="1.8326" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-ankle-r" type="revolute">
    <parent link="rleg-ankle-p"/>
    <child  link="rleg-ankle-r"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
</robot>
