<?xml version="1.0"?>
<robot name="kxrl4r2a3gl"
       xmlns:xi="http://www.w3.org/2001/XInclude">
  <link name="torso-link-l4t">
    <visual>
      <origin xyz="0.0435 0 0.0545" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/torso-link-l4t_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0435 0 0.0545" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/torso-link-l4t_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.358793" />
      <origin xyz="0.003315 -2.59506e-10 0.009969" rpy="0 -0 0"/>
      <inertia ixx="0.00128" ixy="-8.261e-06" ixz="-1.73826e-06" iyy="0.001142" iyz="1.45944e-06" izz="0.00216"/>
    </inertial>
  </link>
  <link name="head-neck-y">
    <visual>
      <origin xyz="0.0645 0 0.053472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0645 0 0.053472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.037398" />
      <origin xyz="0 1.22056e-18 0.023093" rpy="0 -0 0"/>
      <inertia ixx="3.83429e-05" ixy="1.21581e-23" ixz="8.61164e-09" iyy="6.29647e-05" iyz="-5.25778e-09" izz="4.59744e-05"/>
    </inertial>
  </link>
  <link name="head-neck-p">
    <visual>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.061886" />
      <origin xyz="0.0645 2.2915e-18 0.124034" rpy="0 -0 0"/>
      <inertia ixx="7.19258e-05" ixy="-1.82679e-09" ixz="-9.64728e-08" iyy="0.000254" iyz="3.6276e-09" izz="0.000206"/>
    </inertial>
  </link>
  <link name="larm-shoulder-y">
    <visual>
      <origin xyz="0.0435 0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0435 0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.017243" />
      <origin xyz="0 0.022133 4.33681e-18" rpy="0 -0 0"/>
      <inertia ixx="5.07279e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="2.27229e-05" iyz="6.8972e-10" izz="5.18233e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-r">
    <visual>
      <origin xyz="0 0.052 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.052 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.074846" />
      <origin xyz="0.0345 0 1.30104e-18" rpy="0 -0 0"/>
      <inertia ixx="0.000153" ixy="-5.38498e-21" ixz="1.92566e-22" iyy="6.94007e-05" iyz="-1.05156e-08" izz="0.00015"/>
    </inertial>
  </link>
  <link name="larm-elbow-r">
    <visual>
      <origin xyz="0 0.069 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-elbow-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.069 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-elbow-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.049925" />
      <origin xyz="1.4034e-06 0.04807 -0.007851" rpy="0 -0 0"/>
      <inertia ixx="0.000377" ixy="-3.19198e-09" ixz="1.05437e-08" iyy="4.62836e-05" iyz="-1.07297e-08" izz="0.000392"/>
    </inertial>
  </link>
  <link name="larm-gripper-r">
    <visual>
      <origin xyz="0 0.0605 -0.021" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0605 -0.021" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.021176" />
      <origin xyz="0.000151 0.025524 0.002957" rpy="0 -0 0"/>
      <inertia ixx="0.00036" ixy="-1.24634e-08" ixz="9.74108e-09" iyy="2.50341e-05" iyz="-1.46059e-07" izz="0.000365"/>
    </inertial>
  </link>
  <link name="larm-gripper2-r">
    <visual>
      <origin xyz="0 0.071 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.071 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0 0.020023 0.006264" rpy="0 -0 0"/>
      <inertia ixx="0.000391" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.37602e-05" iyz="-1.52851e-07" izz="0.000401"/>
    </inertial>
  </link>
  <link name="larm-shoulder-w">
    <visual>
      <origin xyz="0 0.052 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-shoulder-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.052 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/larm-shoulder-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.03987" />
      <origin xyz="0 0 4.33681e-19" rpy="0 -0 0"/>
      <inertia ixx="6.89116e-05" ixy="3.0506e-22" ixz="1.25056e-22" iyy="6.01003e-05" iyz="-8.89938e-21" izz="0.000125"/>
    </inertial>
  </link>
  <link name="lleg-crotch-y">
    <visual>
      <origin xyz="-0.0435 0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/lleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0435 0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/lleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.053814" />
      <origin xyz="0 0.034506 -0.009793" rpy="0 -0 0"/>
      <inertia ixx="7.94303e-05" ixy="1.37486e-08" ixz="-3.52779e-08" iyy="4.20027e-05" iyz="-3.26445e-08" izz="8.95991e-05"/>
    </inertial>
  </link>
  <link name="lleg-crotch-w">
    <visual>
      <origin xyz="0 0.0545 -0.021" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/lleg-crotch-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0545 -0.021" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/lleg-crotch-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.040403" />
      <origin xyz="0 0.009398 6.93889e-18" rpy="0 -0 0"/>
      <inertia ixx="8.91445e-05" ixy="3.04759e-22" ixz="1.24925e-22" iyy="6.03542e-05" iyz="-1.08696e-20" izz="0.000143"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-y">
    <visual>
      <origin xyz="0.0435 -0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0435 -0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.017243" />
      <origin xyz="0 0.022133 4.33681e-18" rpy="0 -0 0"/>
      <inertia ixx="5.07279e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="2.27229e-05" iyz="6.8972e-10" izz="5.18233e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-r">
    <visual>
      <origin xyz="0 -0.052 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.052 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.074846" />
      <origin xyz="0.0345 0 1.30104e-18" rpy="0 -0 0"/>
      <inertia ixx="0.000153" ixy="-5.38498e-21" ixz="1.92566e-22" iyy="6.94007e-05" iyz="-1.05156e-08" izz="0.00015"/>
    </inertial>
  </link>
  <link name="rarm-elbow-r">
    <visual>
      <origin xyz="0 -0.069 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rarm-elbow-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.069 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rarm-elbow-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.016012" />
      <origin xyz="0.030717 0 0.003548" rpy="0 -0 0"/>
      <inertia ixx="0.000202" ixy="-4.78206e-09" ixz="5.76198e-09" iyy="2.26531e-05" iyz="-7.0584e-09" izz="0.0002"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-w">
    <visual>
      <origin xyz="0 -0.052 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rarm-shoulder-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.052 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rarm-shoulder-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.03987" />
      <origin xyz="0 0 4.33681e-19" rpy="0 -0 0"/>
      <inertia ixx="6.89116e-05" ixy="3.0506e-22" ixz="1.25056e-22" iyy="6.01003e-05" iyz="-8.89938e-21" izz="0.000125"/>
    </inertial>
  </link>
  <link name="rleg-crotch-y">
    <visual>
      <origin xyz="-0.0435 -0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0435 -0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.053814" />
      <origin xyz="0 -0.034506 -0.009793" rpy="0 -0 0"/>
      <inertia ixx="7.94303e-05" ixy="1.37486e-08" ixz="-3.52779e-08" iyy="4.20027e-05" iyz="-3.26445e-08" izz="8.95991e-05"/>
    </inertial>
  </link>
  <link name="rleg-crotch-w">
    <visual>
      <origin xyz="0 -0.0545 -0.021" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rleg-crotch-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.0545 -0.021" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4r2a3gl/meshes/rleg-crotch-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.040403" />
      <origin xyz="0 0.009398 6.93889e-18" rpy="0 -0 0"/>
      <inertia ixx="8.91445e-05" ixy="3.05492e-22" ixz="1.26266e-22" iyy="6.03542e-05" iyz="1.019e-36" izz="0.000143"/>
    </inertial>
  </link>
  <joint name="head-neck-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="head-neck-y"/>
    <origin xyz="0.0645 0 0.053472" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-neck-p" type="revolute">
    <parent link="head-neck-y"/>
    <child  link="head-neck-p"/>
    <origin xyz="0 0 0.036" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.0944" upper="2.0944" effort="1.17655" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="larm-shoulder-y"/>
    <origin xyz="0.0435 0.0645 -0.003" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.95477" upper="1.95477" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-r" type="revolute">
    <parent link="larm-shoulder-y"/>
    <child  link="larm-shoulder-r"/>
    <origin xyz="0 0.052 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-elbow-r" type="revolute">
    <parent link="larm-shoulder-r"/>
    <child  link="larm-elbow-r"/>
    <origin xyz="0 0.069 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper-r" type="revolute">
    <parent link="larm-elbow-r"/>
    <child  link="larm-gripper-r"/>
    <origin xyz="0 0.0605 -0.021" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper2-r" type="revolute">
    <parent link="larm-elbow-r"/>
    <child  link="larm-gripper2-r"/>
    <origin xyz="0 0.071 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-w" type="revolute">
    <parent link="larm-shoulder-y"/>
    <child  link="larm-shoulder-w"/>
    <origin xyz="0 0.052 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1745.33" upper="1745.33" effort="1.17655" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="lleg-crotch-y"/>
    <origin xyz="-0.0435 0.0645 -0.003" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-w" type="revolute">
    <parent link="lleg-crotch-y"/>
    <child  link="lleg-crotch-w"/>
    <origin xyz="0 0.0545 -0.021" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1745.33" upper="1745.33" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="rarm-shoulder-y"/>
    <origin xyz="0.0435 -0.0645 -0.003" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.95477" upper="1.95477" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-r" type="revolute">
    <parent link="rarm-shoulder-y"/>
    <child  link="rarm-shoulder-r"/>
    <origin xyz="0 -0.052 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-elbow-r" type="revolute">
    <parent link="rarm-shoulder-r"/>
    <child  link="rarm-elbow-r"/>
    <origin xyz="0 -0.069 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-w" type="revolute">
    <parent link="rarm-shoulder-y"/>
    <child  link="rarm-shoulder-w"/>
    <origin xyz="0 -0.052 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1745.33" upper="1745.33" effort="1.17655" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="rleg-crotch-y"/>
    <origin xyz="-0.0435 -0.0645 -0.003" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-w" type="revolute">
    <parent link="rleg-crotch-y"/>
    <child  link="rleg-crotch-w"/>
    <origin xyz="0 -0.0545 -0.021" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1745.33" upper="1745.33" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
</robot>
