<?xml version="1.0"?>
<robot name="kxrl4n"
       xmlns:xi="http://www.w3.org/2001/XInclude">
  <link name="torso-link-l4t">
    <visual>
      <origin xyz="0.0435 0 0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/torso-link-l4t_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0435 0 0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/torso-link-l4t_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.358793" />
      <origin xyz="0.003315 -2.59506e-10 0.009969" rpy="0 -0 0"/>
      <inertia ixx="0.00128" ixy="-8.261e-06" ixz="-1.73826e-06" iyy="0.001142" iyz="1.45944e-06" izz="0.00216"/>
    </inertial>
  </link>
  <link name="head-neck-y">
    <visual>
      <origin xyz="0.0645 0 0.053472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0645 0 0.053472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.037398" />
      <origin xyz="0 1.22056e-18 0.023093" rpy="0 -0 0"/>
      <inertia ixx="3.83429e-05" ixy="1.21581e-23" ixz="8.61164e-09" iyy="6.29647e-05" iyz="-5.25778e-09" izz="4.59744e-05"/>
    </inertial>
  </link>
  <link name="head-neck-p">
    <visual>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.071472" />
      <origin xyz="0.0645 -7.95322e-18 0.126185" rpy="0 -0 0"/>
      <inertia ixx="0.000121" ixy="-1.82679e-09" ixz="1.62901e-09" iyy="0.000153" iyz="-6.88796e-09" izz="7.55481e-05"/>
    </inertial>
  </link>
  <link name="head-leye-y">
    <visual>
      <origin xyz="0 0.0315 0.039" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/head-leye-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0315 0.039" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/head-leye-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.043241" />
      <origin xyz="0.018658 0.036481 0" rpy="0 -0 0"/>
      <inertia ixx="0.000276" ixy="-1.504e-09" ixz="7.30674e-08" iyy="0.000302" iyz="-5.08979e-08" izz="0.000141"/>
    </inertial>
  </link>
  <link name="head-reye-y">
    <visual>
      <origin xyz="0 -0.0315 0.039" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/head-reye-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.0315 0.039" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/head-reye-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.043241" />
      <origin xyz="0.018658 -0.036481 0" rpy="0 -0 0"/>
      <inertia ixx="0.000276" ixy="-1.504e-09" ixz="7.30674e-08" iyy="0.000302" iyz="-5.08979e-08" izz="0.000141"/>
    </inertial>
  </link>
  <link name="larm-shoulder-y">
    <visual>
      <origin xyz="0.0435 0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0435 0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015659" />
      <origin xyz="-6.93889e-18 0.018581 2.60209e-18" rpy="0 -0 0"/>
      <inertia ixx="4.34938e-05" ixy="-2.97296e-09" ixz="2.4953e-09" iyy="1.78677e-05" iyz="9.02292e-09" izz="4.94297e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-r">
    <visual>
      <origin xyz="0 0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.036864" />
      <origin xyz="0 0 -0.012475" rpy="0 -0 0"/>
      <inertia ixx="8.02246e-05" ixy="-8.73174e-25" ixz="8.61164e-09" iyy="2.84987e-05" iyz="-5.25778e-09" izz="9.64991e-05"/>
    </inertial>
  </link>
  <link name="lleg-crotch-y">
    <visual>
      <origin xyz="-0.0435 0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/lleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0435 0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/lleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015659" />
      <origin xyz="-6.93889e-18 0.018581 2.60209e-18" rpy="0 -0 0"/>
      <inertia ixx="4.34938e-05" ixy="-2.97296e-09" ixz="2.4953e-09" iyy="1.78677e-05" iyz="9.02292e-09" izz="4.94297e-05"/>
    </inertial>
  </link>
  <link name="lleg-crotch-r">
    <visual>
      <origin xyz="0 0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/lleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/lleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.036864" />
      <origin xyz="0 0 -0.012475" rpy="0 -0 0"/>
      <inertia ixx="8.02246e-05" ixy="-8.73174e-25" ixz="8.61164e-09" iyy="2.84987e-05" iyz="-5.25778e-09" izz="9.64991e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-y">
    <visual>
      <origin xyz="0.0435 -0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0435 -0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015659" />
      <origin xyz="-6.93889e-18 0.018581 2.60209e-18" rpy="0 -0 0"/>
      <inertia ixx="4.34938e-05" ixy="-2.97296e-09" ixz="2.4953e-09" iyy="1.78677e-05" iyz="9.02292e-09" izz="4.94297e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-r">
    <visual>
      <origin xyz="0 -0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.036864" />
      <origin xyz="0 0 -0.012475" rpy="0 -0 0"/>
      <inertia ixx="8.02246e-05" ixy="-8.73174e-25" ixz="8.61164e-09" iyy="2.84987e-05" iyz="-5.25778e-09" izz="9.64991e-05"/>
    </inertial>
  </link>
  <link name="rleg-crotch-y">
    <visual>
      <origin xyz="-0.0435 -0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/rleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0435 -0.0645 -0.003" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/rleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015659" />
      <origin xyz="-6.93889e-18 0.018581 2.60209e-18" rpy="0 -0 0"/>
      <inertia ixx="4.34938e-05" ixy="-2.97296e-09" ixz="2.4953e-09" iyy="1.78677e-05" iyz="9.02292e-09" izz="4.94297e-05"/>
    </inertial>
  </link>
  <link name="rleg-crotch-r">
    <visual>
      <origin xyz="0 -0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/rleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl4n/meshes/rleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.036864" />
      <origin xyz="0 0 -0.012475" rpy="0 -0 0"/>
      <inertia ixx="8.02246e-05" ixy="-8.73174e-25" ixz="8.61164e-09" iyy="2.84987e-05" iyz="-5.25778e-09" izz="9.64991e-05"/>
    </inertial>
  </link>
  <joint name="head-neck-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="head-neck-y"/>
    <origin xyz="0.0645 0 0.053472" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.96706" upper="2.96706" effort="1.17655" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-neck-p" type="revolute">
    <parent link="head-neck-y"/>
    <child  link="head-neck-p"/>
    <origin xyz="0 0 0.036" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.0944" upper="2.0944" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-leye-y" type="revolute">
    <parent link="head-neck-p"/>
    <child  link="head-leye-y"/>
    <origin xyz="0 0.0315 0.039" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="1.17655" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-reye-y" type="revolute">
    <parent link="head-neck-p"/>
    <child  link="head-reye-y"/>
    <origin xyz="0 -0.0315 0.039" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="1.17655" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="larm-shoulder-y"/>
    <origin xyz="0.0435 0.0645 -0.003" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-r" type="revolute">
    <parent link="larm-shoulder-y"/>
    <child  link="larm-shoulder-r"/>
    <origin xyz="0 0.04 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="lleg-crotch-y"/>
    <origin xyz="-0.0435 0.0645 -0.003" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-r" type="revolute">
    <parent link="lleg-crotch-y"/>
    <child  link="lleg-crotch-r"/>
    <origin xyz="0 0.04 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="rarm-shoulder-y"/>
    <origin xyz="0.0435 -0.0645 -0.003" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-r" type="revolute">
    <parent link="rarm-shoulder-y"/>
    <child  link="rarm-shoulder-r"/>
    <origin xyz="0 -0.04 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-y" type="revolute">
    <parent link="torso-link-l4t"/>
    <child  link="rleg-crotch-y"/>
    <origin xyz="-0.0435 -0.0645 -0.003" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-r" type="revolute">
    <parent link="rleg-crotch-y"/>
    <child  link="rleg-crotch-r"/>
    <origin xyz="0 -0.04 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
</robot>
