<?xml version="1.0"?>
<robot name="kxrkamakiri"
       xmlns:xi="http://www.w3.org/2001/XInclude">
  <link name="torso-link-t1l4tbase">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/torso-link-t1l4tbase_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/torso-link-t1l4tbase_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.292793" />
      <origin xyz="0.00751 -9.07809e-20 0.004861" rpy="0 -0 0"/>
      <inertia ixx="0.000641" ixy="1.48948e-08" ixz="-3.61442e-08" iyy="0.000711" iyz="-1.44457e-08" izz="0.001126"/>
    </inertial>
  </link>
  <link name="lleg0-crotch-y">
    <visual>
      <origin xyz="0 0.0645 -0.056472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/lleg0-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0645 -0.056472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/lleg0-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015659" />
      <origin xyz="-3.63013e-18 0.018581 0" rpy="0 -0 0"/>
      <inertia ixx="5.93942e-05" ixy="-2.97296e-09" ixz="2.4953e-09" iyy="2.43069e-05" iyz="9.02292e-09" izz="3.99685e-05"/>
    </inertial>
  </link>
  <link name="lleg0-crotch-r">
    <visual>
      <origin xyz="0 0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/lleg0-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/lleg0-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.036864" />
      <origin xyz="-2.04108e-19 0 -0.012475" rpy="0 -0 0"/>
      <inertia ixx="9.29449e-05" ixy="2.68976e-20" ixz="8.61164e-09" iyy="3.365e-05" iyz="-5.25778e-09" izz="8.89301e-05"/>
    </inertial>
  </link>
  <link name="lleg1-crotch-y">
    <visual>
      <origin xyz="-0.087 0.0645 -0.056472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/lleg1-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.087 0.0645 -0.056472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/lleg1-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015659" />
      <origin xyz="0 0.018581 0" rpy="0 -0 0"/>
      <inertia ixx="5.93942e-05" ixy="-2.97296e-09" ixz="2.4953e-09" iyy="6.21519e-05" iyz="9.02292e-09" izz="7.78135e-05"/>
    </inertial>
  </link>
  <link name="lleg1-crotch-r">
    <visual>
      <origin xyz="0 0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/lleg1-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/lleg1-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.036864" />
      <origin xyz="0 0 -0.012475" rpy="0 -0 0"/>
      <inertia ixx="9.29449e-05" ixy="2.51743e-23" ixz="8.61164e-09" iyy="6.3926e-05" iyz="-5.25778e-09" izz="0.000119"/>
    </inertial>
  </link>
  <link name="rleg0-crotch-y">
    <visual>
      <origin xyz="0 -0.0645 -0.056472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rleg0-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.0645 -0.056472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rleg0-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015659" />
      <origin xyz="-3.63013e-18 0.018581 0" rpy="0 -0 0"/>
      <inertia ixx="5.93942e-05" ixy="-2.97296e-09" ixz="2.4953e-09" iyy="2.43069e-05" iyz="9.02292e-09" izz="3.99685e-05"/>
    </inertial>
  </link>
  <link name="rleg0-crotch-r">
    <visual>
      <origin xyz="0 -0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rleg0-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rleg0-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.036864" />
      <origin xyz="-2.04108e-19 0 -0.012475" rpy="0 -0 0"/>
      <inertia ixx="9.29449e-05" ixy="2.68976e-20" ixz="8.61164e-09" iyy="3.365e-05" iyz="-5.25778e-09" izz="8.89301e-05"/>
    </inertial>
  </link>
  <link name="rleg1-crotch-y">
    <visual>
      <origin xyz="-0.087 -0.0645 -0.056472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rleg1-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.087 -0.0645 -0.056472" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rleg1-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015659" />
      <origin xyz="0 0.018581 0" rpy="0 -0 0"/>
      <inertia ixx="5.93942e-05" ixy="-2.97296e-09" ixz="2.4953e-09" iyy="6.21519e-05" iyz="9.02292e-09" izz="7.78135e-05"/>
    </inertial>
  </link>
  <link name="rleg1-crotch-r">
    <visual>
      <origin xyz="0 -0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rleg1-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.04 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rleg1-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.036864" />
      <origin xyz="0 0 -0.012475" rpy="0 -0 0"/>
      <inertia ixx="9.29449e-05" ixy="2.51743e-23" ixz="8.61164e-09" iyy="6.3926e-05" iyz="-5.25778e-09" izz="0.000119"/>
    </inertial>
  </link>
  <link name="torso-chest-y">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/torso-chest-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/torso-chest-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.407412" />
      <origin xyz="-0.005707 2.28919e-10 0.05528" rpy="0 -0 0"/>
      <inertia ixx="0.001344" ixy="-8.27808e-06" ixz="-1.70222e-06" iyy="0.001485" iyz="1.47996e-06" izz="0.002311"/>
    </inertial>
  </link>
  <link name="head-neck-y">
    <visual>
      <origin xyz="-0.00725 0 0.101" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.00725 0 0.101" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.037398" />
      <origin xyz="0 1.22056e-18 0.023093" rpy="0 -0 0"/>
      <inertia ixx="8.05692e-05" ixy="9.44728e-22" ixz="8.61164e-09" iyy="8.46525e-05" iyz="-5.25778e-09" izz="2.5436e-05"/>
    </inertial>
  </link>
  <link name="head-neck-p">
    <visual>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.171642" />
      <origin xyz="0.001808 8.61053e-18 0.19449" rpy="0 -0 0"/>
      <inertia ixx="0.001141" ixy="-1.80603e-07" ixz="-6.57916e-08" iyy="0.001056" iyz="-1.9726e-08" izz="0.000203"/>
    </inertial>
  </link>
  <link name="larm-shoulder-p">
    <visual>
      <origin xyz="0.00725 0.0465 0.086" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.00725 0.0465 0.086" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.73472e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="5.00125e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="3.63867e-05" iyz="2.68346e-09" izz="1.89272e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-r">
    <visual>
      <origin xyz="0 0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 0.008556 0" rpy="0 -0 0"/>
      <inertia ixx="9.89613e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="7.56821e-05" iyz="1.21718e-07" izz="8.07487e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-y">
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012939" />
      <origin xyz="0 0 0.016427" rpy="0 -0 0"/>
      <inertia ixx="4.85476e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="2.36998e-05" iyz="-4.7056e-09" izz="2.91052e-05"/>
    </inertial>
  </link>
  <link name="larm-elbow-p">
    <visual>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05298" />
      <origin xyz="0.014792 0 -0.005477" rpy="0 -0 0"/>
      <inertia ixx="6.37603e-05" ixy="5.66051e-08" ixz="1.81382e-08" iyy="2.87987e-05" iyz="-6.74218e-07" izz="6.53223e-05"/>
    </inertial>
  </link>
  <link name="larm-wrist-p">
    <visual>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="0 0.013148 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="7.26507e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="4.78838e-05" iyz="1.21718e-07" izz="8.18295e-05"/>
    </inertial>
  </link>
  <link name="larm-wrist-r">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.042589" />
      <origin xyz="0.019552 0.079931 -0.013" rpy="0 -0 0"/>
      <inertia ixx="5.63105e-05" ixy="-1.95738e-24" ixz="8.61164e-09" iyy="2.47764e-05" iyz="-5.25778e-09" izz="6.59873e-05"/>
    </inertial>
  </link>
  <link name="larm-gripper-r">
    <visual>
      <origin xyz="0.0315 0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 0.016764 -2.60209e-17" rpy="0 -0 0"/>
      <inertia ixx="5.23867e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.84109e-05" iyz="-1.52851e-07" izz="6.47415e-05"/>
    </inertial>
  </link>
  <link name="larm-gripper2-r">
    <visual>
      <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 -0.019242 -3.46945e-18" rpy="0 -0 0"/>
      <inertia ixx="2.47446e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.8411e-05" iyz="-1.52851e-07" izz="3.70994e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-p">
    <visual>
      <origin xyz="0.00725 -0.0465 0.086" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.00725 -0.0465 0.086" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.73472e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="5.00125e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="3.63867e-05" iyz="2.68346e-09" izz="1.89272e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-r">
    <visual>
      <origin xyz="0 -0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 -0.008556 0" rpy="0 -0 0"/>
      <inertia ixx="9.89613e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="7.56821e-05" iyz="1.21718e-07" izz="8.07487e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-y">
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012939" />
      <origin xyz="0 0 0.016427" rpy="0 -0 0"/>
      <inertia ixx="4.85476e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="2.36998e-05" iyz="-4.7056e-09" izz="2.91052e-05"/>
    </inertial>
  </link>
  <link name="rarm-elbow-p">
    <visual>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05298" />
      <origin xyz="0.014792 0 -0.005477" rpy="0 -0 0"/>
      <inertia ixx="6.37603e-05" ixy="5.66051e-08" ixz="1.81382e-08" iyy="2.87987e-05" iyz="-6.74218e-07" izz="6.53223e-05"/>
    </inertial>
  </link>
  <link name="rarm-wrist-p">
    <visual>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="0 -0.013148 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="7.26507e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="4.78838e-05" iyz="1.21718e-07" izz="8.18295e-05"/>
    </inertial>
  </link>
  <link name="rarm-wrist-r">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.042589" />
      <origin xyz="0.019552 -0.079931 -0.013" rpy="0 -0 0"/>
      <inertia ixx="5.63105e-05" ixy="-3.27353e-23" ixz="8.61164e-09" iyy="2.47764e-05" iyz="-5.25778e-09" izz="6.59873e-05"/>
    </inertial>
  </link>
  <link name="rarm-gripper-r">
    <visual>
      <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 -0.016764 -5.20417e-18" rpy="0 -0 0"/>
      <inertia ixx="5.23867e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.84109e-05" iyz="-1.52851e-07" izz="6.47415e-05"/>
    </inertial>
  </link>
  <link name="rarm-gripper2-r">
    <visual>
      <origin xyz="0.0315 0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrkamakiri/meshes/rarm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 0.019242 1.73472e-18" rpy="0 -0 0"/>
      <inertia ixx="2.47446e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.8411e-05" iyz="-1.52851e-07" izz="3.70994e-05"/>
    </inertial>
  </link>
  <joint name="lleg0-crotch-y" type="revolute">
    <parent link="torso-link-t1l4tbase"/>
    <child  link="lleg0-crotch-y"/>
    <origin xyz="0 0.0645 -0.056472" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg0-crotch-r" type="revolute">
    <parent link="lleg0-crotch-y"/>
    <child  link="lleg0-crotch-r"/>
    <origin xyz="0 0.04 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg1-crotch-y" type="revolute">
    <parent link="torso-link-t1l4tbase"/>
    <child  link="lleg1-crotch-y"/>
    <origin xyz="-0.087 0.0645 -0.056472" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg1-crotch-r" type="revolute">
    <parent link="lleg1-crotch-y"/>
    <child  link="lleg1-crotch-r"/>
    <origin xyz="0 0.04 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg0-crotch-y" type="revolute">
    <parent link="torso-link-t1l4tbase"/>
    <child  link="rleg0-crotch-y"/>
    <origin xyz="0 -0.0645 -0.056472" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg0-crotch-r" type="revolute">
    <parent link="rleg0-crotch-y"/>
    <child  link="rleg0-crotch-r"/>
    <origin xyz="0 -0.04 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg1-crotch-y" type="revolute">
    <parent link="torso-link-t1l4tbase"/>
    <child  link="rleg1-crotch-y"/>
    <origin xyz="-0.087 -0.0645 -0.056472" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg1-crotch-r" type="revolute">
    <parent link="rleg1-crotch-y"/>
    <child  link="rleg1-crotch-r"/>
    <origin xyz="0 -0.04 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="torso-chest-y" type="revolute">
    <parent link="torso-link-t1l4tbase"/>
    <child  link="torso-chest-y"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-neck-y" type="revolute">
    <parent link="torso-chest-y"/>
    <child  link="head-neck-y"/>
    <origin xyz="-0.00725 0 0.101" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-neck-p" type="revolute">
    <parent link="head-neck-y"/>
    <child  link="head-neck-p"/>
    <origin xyz="0 0 0.036" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.0944" upper="2.0944" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-p" type="revolute">
    <parent link="torso-chest-y"/>
    <child  link="larm-shoulder-p"/>
    <origin xyz="0.00725 0.0465 0.086" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-r" type="revolute">
    <parent link="larm-shoulder-p"/>
    <child  link="larm-shoulder-r"/>
    <origin xyz="0 0.031 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-y" type="revolute">
    <parent link="larm-shoulder-r"/>
    <child  link="larm-shoulder-y"/>
    <origin xyz="0 0 -0.015" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-elbow-p" type="revolute">
    <parent link="larm-shoulder-y"/>
    <child  link="larm-elbow-p"/>
    <origin xyz="0 0 -0.041" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-wrist-p" type="revolute">
    <parent link="larm-elbow-p"/>
    <child  link="larm-wrist-p"/>
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.18166" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-wrist-r" type="revolute">
    <parent link="larm-wrist-p"/>
    <child  link="larm-wrist-r"/>
    <origin xyz="0.015 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper-r" type="revolute">
    <parent link="larm-wrist-r"/>
    <child  link="larm-gripper-r"/>
    <origin xyz="0.0315 0.0105 0" rpy="0 -0 0 "/>
    <axis   xyz="2.22045e-16 0 1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper2-r" type="revolute">
    <parent link="larm-wrist-r"/>
    <child  link="larm-gripper2-r"/>
    <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 -1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-p" type="revolute">
    <parent link="torso-chest-y"/>
    <child  link="rarm-shoulder-p"/>
    <origin xyz="0.00725 -0.0465 0.086" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-r" type="revolute">
    <parent link="rarm-shoulder-p"/>
    <child  link="rarm-shoulder-r"/>
    <origin xyz="0 -0.031 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-y" type="revolute">
    <parent link="rarm-shoulder-r"/>
    <child  link="rarm-shoulder-y"/>
    <origin xyz="0 0 -0.015" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-elbow-p" type="revolute">
    <parent link="rarm-shoulder-y"/>
    <child  link="rarm-elbow-p"/>
    <origin xyz="0 0 -0.041" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-wrist-p" type="revolute">
    <parent link="rarm-elbow-p"/>
    <child  link="rarm-wrist-p"/>
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.18166" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-wrist-r" type="revolute">
    <parent link="rarm-wrist-p"/>
    <child  link="rarm-wrist-r"/>
    <origin xyz="0.015 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-gripper-r" type="revolute">
    <parent link="rarm-wrist-r"/>
    <child  link="rarm-gripper-r"/>
    <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 -1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-gripper2-r" type="revolute">
    <parent link="rarm-wrist-r"/>
    <child  link="rarm-gripper2-r"/>
    <origin xyz="0.0315 0.012979 0" rpy="0 -0 0 "/>
    <axis   xyz="4.44089e-16 0 1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
</robot>
