<?xml version="1.0"?>
<robot name="kxrl2l6a6h2"
       xmlns:xi="http://www.w3.org/2001/XInclude">
  <link name="torso-link-l2l6">
    <visual>
      <origin xyz="-8e-06 0 0.205482" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/torso-link-l2l6_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-8e-06 0 0.205482" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/torso-link-l2l6_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.438821" />
      <origin xyz="-0.00664 2.12625e-10 0.030951" rpy="0 -0 0"/>
      <inertia ixx="0.001294" ixy="-8.24829e-06" ixz="-1.77451e-06" iyy="0.001345" iyz="1.40388e-06" izz="0.002176"/>
    </inertial>
  </link>
  <link name="head-neck-y">
    <visual>
      <origin xyz="-0.00725 0 0.0825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.00725 0 0.0825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.037398" />
      <origin xyz="0 1.22056e-18 0.023093" rpy="0 -0 0"/>
      <inertia ixx="6.14478e-05" ixy="-1.2125e-21" ixz="8.61164e-09" iyy="6.55311e-05" iyz="-5.25778e-09" izz="2.5436e-05"/>
    </inertial>
  </link>
  <link name="head-neck-p">
    <visual>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.059841" />
      <origin xyz="-0.003955 -2.45641e-18 0.154665" rpy="0 -0 0"/>
      <inertia ixx="0.000225" ixy="-1.14617e-09" ixz="8.66294e-10" iyy="0.000222" iyz="5.39532e-09" izz="8.2863e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-p">
    <visual>
      <origin xyz="0.00725 0.0465 0.0675" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.00725 0.0465 0.0675" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.73472e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="3.86535e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="2.50277e-05" iyz="2.68346e-09" izz="1.89272e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-r">
    <visual>
      <origin xyz="0 0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 0.008556 1.38778e-17" rpy="0 -0 0"/>
      <inertia ixx="8.76023e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.43231e-05" iyz="1.21718e-07" izz="8.07487e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-y">
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012939" />
      <origin xyz="0 0 0.016427" rpy="0 -0 0"/>
      <inertia ixx="4.1548e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="1.67002e-05" iyz="-4.7056e-09" izz="2.91052e-05"/>
    </inertial>
  </link>
  <link name="larm-elbow-p">
    <visual>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05298" />
      <origin xyz="0.014792 0 -0.005477" rpy="0 -0 0"/>
      <inertia ixx="6.26796e-05" ixy="5.66051e-08" ixz="1.81381e-08" iyy="2.7718e-05" iyz="-6.74218e-07" izz="6.53223e-05"/>
    </inertial>
  </link>
  <link name="larm-wrist-p">
    <visual>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="0 0.013148 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="7.73102e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="5.25433e-05" iyz="1.21718e-07" izz="8.18295e-05"/>
    </inertial>
  </link>
  <link name="larm-wrist-r">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.042589" />
      <origin xyz="0.019552 0.079931 -0.0315" rpy="0 -0 0"/>
      <inertia ixx="6.125e-05" ixy="-1.16918e-23" ixz="8.61164e-09" iyy="2.97158e-05" iyz="-5.25778e-09" izz="6.59873e-05"/>
    </inertial>
  </link>
  <link name="larm-gripper-r">
    <visual>
      <origin xyz="0.0315 0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 0.016764 0" rpy="0 -0 0"/>
      <inertia ixx="5.65029e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="2.25272e-05" iyz="-1.52851e-07" izz="6.47415e-05"/>
    </inertial>
  </link>
  <link name="larm-gripper2-r">
    <visual>
      <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 -0.019242 2.77556e-17" rpy="0 -0 0"/>
      <inertia ixx="2.88608e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="2.25272e-05" iyz="-1.52851e-07" izz="3.70994e-05"/>
    </inertial>
  </link>
  <link name="lleg-crotch-y">
    <visual>
      <origin xyz="0 0.0235 -0.0345" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0235 -0.0345" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.83465e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="1.76009e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="1.5455e-05" iyz="2.68346e-09" izz="7.02673e-06"/>
    </inertial>
  </link>
  <link name="lleg-crotch-r">
    <visual>
      <origin xyz="0 0 -0.031" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.031" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 -3.46945e-18 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="6.38359e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.87799e-05" iyz="1.21718e-07" izz="5.3185e-05"/>
    </inertial>
  </link>
  <link name="lleg-crotch-p">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-crotch-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-crotch-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.022434" />
      <origin xyz="3.51186e-19 0 -0.033737" rpy="0 -0 0"/>
      <inertia ixx="8.12318e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="7.59242e-05" iyz="6.8972e-10" izz="1.27846e-05"/>
    </inertial>
  </link>
  <link name="lleg-knee-p">
    <visual>
      <origin xyz="0 0 -0.058" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-knee-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.058" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-knee-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0543" />
      <origin xyz="0.010966 -3.46945e-18 -0.012284" rpy="0 -0 0"/>
      <inertia ixx="0.000148" ixy="5.54708e-08" ixz="2.00452e-08" iyy="0.00014" iyz="-6.81607e-07" izz="3.79234e-05"/>
    </inertial>
  </link>
  <link name="lleg-ankle-p">
    <visual>
      <origin xyz="0 0 -0.057976" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-ankle-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.057976" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-ankle-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 3.46945e-18 0.008556" rpy="0 -0 0"/>
      <inertia ixx="0.00016" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="0.000165" iyz="1.21718e-07" izz="5.3185e-05"/>
    </inertial>
  </link>
  <link name="lleg-ankle-r">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-ankle-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/lleg-ankle-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.038432" />
      <origin xyz="-1.84881e-19 0.007514 -0.025416" rpy="0 -0 0"/>
      <inertia ixx="0.000378" ixy="3.74795e-08" ixz="-1.78739e-07" iyy="0.000227" iyz="-5.24227e-07" izz="0.000157"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-p">
    <visual>
      <origin xyz="0.00725 -0.0465 0.0675" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.00725 -0.0465 0.0675" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.73472e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="3.86535e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="2.50277e-05" iyz="2.68346e-09" izz="1.89272e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-r">
    <visual>
      <origin xyz="0 -0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 -0.008556 1.38778e-17" rpy="0 -0 0"/>
      <inertia ixx="8.76023e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.43231e-05" iyz="1.21718e-07" izz="8.07487e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-y">
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012939" />
      <origin xyz="0 0 0.016427" rpy="0 -0 0"/>
      <inertia ixx="4.1548e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="1.67002e-05" iyz="-4.7056e-09" izz="2.91052e-05"/>
    </inertial>
  </link>
  <link name="rarm-elbow-p">
    <visual>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05298" />
      <origin xyz="0.014792 0 -0.005477" rpy="0 -0 0"/>
      <inertia ixx="6.26796e-05" ixy="5.66051e-08" ixz="1.81381e-08" iyy="2.7718e-05" iyz="-6.74218e-07" izz="6.53223e-05"/>
    </inertial>
  </link>
  <link name="rarm-wrist-p">
    <visual>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="0 -0.013148 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="7.73102e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="5.25433e-05" iyz="1.21718e-07" izz="8.18295e-05"/>
    </inertial>
  </link>
  <link name="rarm-wrist-r">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.042589" />
      <origin xyz="0.019552 -0.079931 -0.0315" rpy="0 -0 0"/>
      <inertia ixx="6.125e-05" ixy="-1.16918e-23" ixz="8.61164e-09" iyy="2.97158e-05" iyz="-5.25778e-09" izz="6.59873e-05"/>
    </inertial>
  </link>
  <link name="rarm-gripper-r">
    <visual>
      <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 -0.016764 2.08167e-17" rpy="0 -0 0"/>
      <inertia ixx="5.65029e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="2.25272e-05" iyz="-1.52851e-07" izz="6.47415e-05"/>
    </inertial>
  </link>
  <link name="rarm-gripper2-r">
    <visual>
      <origin xyz="0.0315 0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rarm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 0.019242 2.77556e-17" rpy="0 -0 0"/>
      <inertia ixx="2.88608e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="2.25272e-05" iyz="-1.52851e-07" izz="3.70994e-05"/>
    </inertial>
  </link>
  <link name="rleg-crotch-y">
    <visual>
      <origin xyz="0 -0.0235 -0.0345" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.0235 -0.0345" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-crotch-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.83465e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="1.76009e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="1.5455e-05" iyz="2.68346e-09" izz="7.02673e-06"/>
    </inertial>
  </link>
  <link name="rleg-crotch-r">
    <visual>
      <origin xyz="0 0 -0.031" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.031" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-crotch-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 -3.46945e-18 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="6.38359e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.87799e-05" iyz="1.21718e-07" izz="5.3185e-05"/>
    </inertial>
  </link>
  <link name="rleg-crotch-p">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-crotch-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-crotch-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.022434" />
      <origin xyz="3.51186e-19 0 -0.033737" rpy="0 -0 0"/>
      <inertia ixx="8.12318e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="7.59242e-05" iyz="6.8972e-10" izz="1.27846e-05"/>
    </inertial>
  </link>
  <link name="rleg-knee-p">
    <visual>
      <origin xyz="0 0 -0.058" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-knee-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.058" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-knee-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0543" />
      <origin xyz="0.010966 -3.46945e-18 -0.012284" rpy="0 -0 0"/>
      <inertia ixx="0.000148" ixy="5.54708e-08" ixz="2.00452e-08" iyy="0.00014" iyz="-6.81607e-07" izz="3.79234e-05"/>
    </inertial>
  </link>
  <link name="rleg-ankle-p">
    <visual>
      <origin xyz="0 0 -0.057976" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-ankle-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.057976" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-ankle-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 3.46945e-18 0.008556" rpy="0 -0 0"/>
      <inertia ixx="0.00016" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="0.000165" iyz="1.21718e-07" izz="5.3185e-05"/>
    </inertial>
  </link>
  <link name="rleg-ankle-r">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-ankle-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrl2l6a6h2/meshes/rleg-ankle-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.038432" />
      <origin xyz="3.8825e-18 -0.007514 -0.025416" rpy="0 -0 0"/>
      <inertia ixx="0.000378" ixy="3.74795e-08" ixz="-1.78739e-07" iyy="0.000227" iyz="-5.24227e-07" izz="0.000157"/>
    </inertial>
  </link>
  <joint name="head-neck-y" type="revolute">
    <parent link="torso-link-l2l6"/>
    <child  link="head-neck-y"/>
    <origin xyz="-0.00725 0 0.0825" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-neck-p" type="revolute">
    <parent link="head-neck-y"/>
    <child  link="head-neck-p"/>
    <origin xyz="0 0 0.036" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.0944" upper="2.0944" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-p" type="revolute">
    <parent link="torso-link-l2l6"/>
    <child  link="larm-shoulder-p"/>
    <origin xyz="0.00725 0.0465 0.0675" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-r" type="revolute">
    <parent link="larm-shoulder-p"/>
    <child  link="larm-shoulder-r"/>
    <origin xyz="0 0.031 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-y" type="revolute">
    <parent link="larm-shoulder-r"/>
    <child  link="larm-shoulder-y"/>
    <origin xyz="0 0 -0.015" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-elbow-p" type="revolute">
    <parent link="larm-shoulder-y"/>
    <child  link="larm-elbow-p"/>
    <origin xyz="0 0 -0.041" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-wrist-p" type="revolute">
    <parent link="larm-elbow-p"/>
    <child  link="larm-wrist-p"/>
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.18166" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-wrist-r" type="revolute">
    <parent link="larm-wrist-p"/>
    <child  link="larm-wrist-r"/>
    <origin xyz="0.015 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper-r" type="revolute">
    <parent link="larm-wrist-r"/>
    <child  link="larm-gripper-r"/>
    <origin xyz="0.0315 0.0105 0" rpy="0 -0 0 "/>
    <axis   xyz="2.22045e-16 0 1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper2-r" type="revolute">
    <parent link="larm-wrist-r"/>
    <child  link="larm-gripper2-r"/>
    <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 -1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-y" type="revolute">
    <parent link="torso-link-l2l6"/>
    <child  link="lleg-crotch-y"/>
    <origin xyz="0 0.0235 -0.0345" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-r" type="revolute">
    <parent link="lleg-crotch-y"/>
    <child  link="lleg-crotch-r"/>
    <origin xyz="0 0 -0.031" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.65806" upper="1.65806" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-p" type="revolute">
    <parent link="lleg-crotch-r"/>
    <child  link="lleg-crotch-p"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.35619" upper="1.5708" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-knee-p" type="revolute">
    <parent link="lleg-crotch-p"/>
    <child  link="lleg-knee-p"/>
    <origin xyz="0 0 -0.058" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1.74533" upper="2.79253" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-ankle-p" type="revolute">
    <parent link="lleg-knee-p"/>
    <child  link="lleg-ankle-p"/>
    <origin xyz="0 0 -0.057976" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1.8326" upper="1.8326" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-ankle-r" type="revolute">
    <parent link="lleg-ankle-p"/>
    <child  link="lleg-ankle-r"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-p" type="revolute">
    <parent link="torso-link-l2l6"/>
    <child  link="rarm-shoulder-p"/>
    <origin xyz="0.00725 -0.0465 0.0675" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-r" type="revolute">
    <parent link="rarm-shoulder-p"/>
    <child  link="rarm-shoulder-r"/>
    <origin xyz="0 -0.031 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-y" type="revolute">
    <parent link="rarm-shoulder-r"/>
    <child  link="rarm-shoulder-y"/>
    <origin xyz="0 0 -0.015" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-elbow-p" type="revolute">
    <parent link="rarm-shoulder-y"/>
    <child  link="rarm-elbow-p"/>
    <origin xyz="0 0 -0.041" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-wrist-p" type="revolute">
    <parent link="rarm-elbow-p"/>
    <child  link="rarm-wrist-p"/>
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.18166" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-wrist-r" type="revolute">
    <parent link="rarm-wrist-p"/>
    <child  link="rarm-wrist-r"/>
    <origin xyz="0.015 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-gripper-r" type="revolute">
    <parent link="rarm-wrist-r"/>
    <child  link="rarm-gripper-r"/>
    <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 -1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-gripper2-r" type="revolute">
    <parent link="rarm-wrist-r"/>
    <child  link="rarm-gripper2-r"/>
    <origin xyz="0.0315 0.012979 0" rpy="0 -0 0 "/>
    <axis   xyz="4.44089e-16 0 1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-y" type="revolute">
    <parent link="torso-link-l2l6"/>
    <child  link="rleg-crotch-y"/>
    <origin xyz="0 -0.0235 -0.0345" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-1.5708" upper="1.5708" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-r" type="revolute">
    <parent link="rleg-crotch-y"/>
    <child  link="rleg-crotch-r"/>
    <origin xyz="0 0 -0.031" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.65806" upper="1.65806" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-p" type="revolute">
    <parent link="rleg-crotch-r"/>
    <child  link="rleg-crotch-p"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.35619" upper="1.5708" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-knee-p" type="revolute">
    <parent link="rleg-crotch-p"/>
    <child  link="rleg-knee-p"/>
    <origin xyz="0 0 -0.058" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1.74533" upper="2.79253" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-ankle-p" type="revolute">
    <parent link="rleg-knee-p"/>
    <child  link="rleg-ankle-p"/>
    <origin xyz="0 0 -0.057976" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1.8326" upper="1.8326" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-ankle-r" type="revolute">
    <parent link="rleg-ankle-p"/>
    <child  link="rleg-ankle-r"/>
    <origin xyz="0 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
</robot>
