<?xml version="1.0"?>
<robot name="kxrmw4a6h2"
       xmlns:xi="http://www.w3.org/2001/XInclude">
  <link name="torso-link-l4mw">
    <visual>
      <origin xyz="0.054 0 0.089" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/torso-link-l4mw_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.054 0 0.089" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/torso-link-l4mw_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.673044" />
      <origin xyz="0.001263 1.38554e-10 0.021234" rpy="0 -0 0"/>
      <inertia ixx="0.001873" ixy="-8.30713e-06" ixz="-1.67863e-06" iyy="0.002147" iyz="1.45167e-06" izz="0.003181"/>
    </inertial>
  </link>
  <link name="head-neck-y">
    <visual>
      <origin xyz="-0.00725 0 0.1065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.00725 0 0.1065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/head-neck-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.037398" />
      <origin xyz="-1.73472e-18 1.22056e-18 0.023093" rpy="0 -0 0"/>
      <inertia ixx="8.69139e-05" ixy="-8.96373e-22" ixz="8.61164e-09" iyy="9.09972e-05" iyz="-5.25778e-09" izz="2.5436e-05"/>
    </inertial>
  </link>
  <link name="head-neck-p">
    <visual>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.036" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/head-neck-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.109383" />
      <origin xyz="-0.013925 -8.73661e-08 0.187488" rpy="0 -0 0"/>
      <inertia ixx="0.000959" ixy="-9.21582e-10" ixz="6.81221e-06" iyy="0.000809" iyz="-1.0258e-07" izz="0.000228"/>
    </inertial>
  </link>
  <link name="larm-shoulder-p">
    <visual>
      <origin xyz="0 0.0465 0.102" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0465 0.102" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.83465e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="6.20445e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="4.82084e-05" iyz="2.68346e-09" izz="1.8717e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-r">
    <visual>
      <origin xyz="0 0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 0.008556 1.38778e-17" rpy="0 -0 0"/>
      <inertia ixx="0.000111" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="8.80439e-05" iyz="1.21718e-07" izz="8.10784e-05"/>
    </inertial>
  </link>
  <link name="larm-shoulder-y">
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012939" />
      <origin xyz="0 0 0.016427" rpy="0 -0 0"/>
      <inertia ixx="5.68093e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="3.17513e-05" iyz="-4.7056e-09" izz="2.88949e-05"/>
    </inertial>
  </link>
  <link name="larm-elbow-p">
    <visual>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05298" />
      <origin xyz="0.014792 0 -0.005477" rpy="0 -0 0"/>
      <inertia ixx="6.74549e-05" ixy="5.66051e-08" ixz="1.81381e-08" iyy="3.3674e-05" iyz="-6.74218e-07" izz="6.6503e-05"/>
    </inertial>
  </link>
  <link name="larm-wrist-p">
    <visual>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="0 0.013148 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="7.08288e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="4.72147e-05" iyz="1.21718e-07" izz="8.29822e-05"/>
    </inertial>
  </link>
  <link name="larm-wrist-r">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.042589" />
      <origin xyz="0.012302 0.079931 0.003" rpy="0 -0 0"/>
      <inertia ixx="5.53505e-05" ixy="-8.499e-24" ixz="8.61164e-09" iyy="2.33164e-05" iyz="-5.25778e-09" izz="6.54873e-05"/>
    </inertial>
  </link>
  <link name="larm-gripper-r">
    <visual>
      <origin xyz="0.0315 0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.021176" />
      <origin xyz="0.054268 0.013457 9.27244e-05" rpy="0 -0 0"/>
      <inertia ixx="5.43588e-05" ixy="-1.24634e-08" ixz="9.74108e-09" iyy="1.8488e-05" iyz="-1.46059e-07" izz="6.63374e-05"/>
    </inertial>
  </link>
  <link name="larm-gripper2-r">
    <visual>
      <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/larm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 -0.019242 2.51535e-17" rpy="0 -0 0"/>
      <inertia ixx="2.39446e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.42704e-05" iyz="-1.52851e-07" izz="3.37589e-05"/>
    </inertial>
  </link>
  <link name="lleg-crotch-w">
    <visual>
      <origin xyz="0.054 0.048 -0.065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/lleg-crotch-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.054 0.048 -0.065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/lleg-crotch-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.04244" />
      <origin xyz="-6.93889e-18 0.013847 0" rpy="0 -0 0"/>
      <inertia ixx="5.90032e-05" ixy="1.2402e-22" ixz="3.19319e-23" iyy="5.78655e-05" iyz="1.73011e-21" izz="8.43945e-05"/>
    </inertial>
  </link>
  <link name="lleg-knee-w">
    <visual>
      <origin xyz="-0.054 0.048 -0.065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/lleg-knee-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.054 0.048 -0.065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/lleg-knee-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.04244" />
      <origin xyz="-6.93889e-18 0.013847 0" rpy="0 -0 0"/>
      <inertia ixx="5.90032e-05" ixy="1.23672e-22" ixz="3.08846e-23" iyy="5.78655e-05" iyz="-3.79234e-21" izz="8.43945e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-p">
    <visual>
      <origin xyz="0 -0.0465 0.102" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.0465 0.102" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-shoulder-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.011619" />
      <origin xyz="1.83465e-18 0 0.012925" rpy="0 -0 0"/>
      <inertia ixx="6.20445e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="4.82084e-05" iyz="2.68346e-09" izz="1.8717e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-r">
    <visual>
      <origin xyz="0 -0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.031 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-shoulder-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="-0.013148 -0.008556 1.38778e-17" rpy="0 -0 0"/>
      <inertia ixx="0.000111" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="8.80439e-05" iyz="1.21718e-07" izz="8.10784e-05"/>
    </inertial>
  </link>
  <link name="rarm-shoulder-y">
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-shoulder-y_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012939" />
      <origin xyz="0 0 0.016427" rpy="0 -0 0"/>
      <inertia ixx="5.68093e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="3.17513e-05" iyz="-4.7056e-09" izz="2.88949e-05"/>
    </inertial>
  </link>
  <link name="rarm-elbow-p">
    <visual>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.041" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-elbow-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05298" />
      <origin xyz="0.014792 0 -0.005477" rpy="0 -0 0"/>
      <inertia ixx="6.74549e-05" ixy="5.66051e-08" ixz="1.81381e-08" iyy="3.3674e-05" iyz="-6.74218e-07" izz="6.6503e-05"/>
    </inertial>
  </link>
  <link name="rarm-wrist-p">
    <visual>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-wrist-p_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.078374" />
      <origin xyz="0 -0.013148 -0.008556" rpy="0 -0 0"/>
      <inertia ixx="7.08288e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="4.72147e-05" iyz="1.21718e-07" izz="8.29822e-05"/>
    </inertial>
  </link>
  <link name="rarm-wrist-r">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-wrist-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.042589" />
      <origin xyz="0.012302 -0.079931 0.003" rpy="0 -0 0"/>
      <inertia ixx="5.53505e-05" ixy="-8.499e-24" ixz="8.61164e-09" iyy="2.33164e-05" iyz="-5.25778e-09" izz="6.54873e-05"/>
    </inertial>
  </link>
  <link name="rarm-gripper-r">
    <visual>
      <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-gripper-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.021176" />
      <origin xyz="0.054268 -0.013457 -9.27244e-05" rpy="0 -0 0"/>
      <inertia ixx="5.4357e-05" ixy="-1.24634e-08" ixz="9.74108e-09" iyy="1.84862e-05" iyz="-1.46059e-07" izz="6.63374e-05"/>
    </inertial>
  </link>
  <link name="rarm-gripper2-r">
    <visual>
      <origin xyz="0.0315 0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0315 0.012979 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rarm-gripper2-r_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.013267" />
      <origin xyz="0.048523 0.019242 2.9924e-17" rpy="0 -0 0"/>
      <inertia ixx="2.39446e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="1.42704e-05" iyz="-1.52851e-07" izz="3.37589e-05"/>
    </inertial>
  </link>
  <link name="rleg-crotch-w">
    <visual>
      <origin xyz="0.054 -0.048 -0.065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rleg-crotch-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.054 -0.048 -0.065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rleg-crotch-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.04244" />
      <origin xyz="-6.93889e-18 0.013847 0" rpy="0 -0 0"/>
      <inertia ixx="5.90032e-05" ixy="1.23702e-22" ixz="3.37998e-23" iyy="5.78655e-05" iyz="1.47265e-21" izz="8.43945e-05"/>
    </inertial>
  </link>
  <link name="rleg-knee-w">
    <visual>
      <origin xyz="-0.054 -0.048 -0.065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rleg-knee-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.054 -0.048 -0.065" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://kxrmw4a6h2/meshes/rleg-knee-w_mesh.glb" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.04244" />
      <origin xyz="-6.93889e-18 0.013847 0" rpy="0 -0 0"/>
      <inertia ixx="5.90032e-05" ixy="1.24244e-22" ixz="3.45418e-23" iyy="5.78655e-05" iyz="-2.94531e-21" izz="8.43945e-05"/>
    </inertial>
  </link>
  <joint name="head-neck-y" type="revolute">
    <parent link="torso-link-l4mw"/>
    <child  link="head-neck-y"/>
    <origin xyz="-0.00725 0 0.1065" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="head-neck-p" type="revolute">
    <parent link="head-neck-y"/>
    <child  link="head-neck-p"/>
    <origin xyz="0 0 0.036" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.0944" upper="2.0944" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-p" type="revolute">
    <parent link="torso-link-l4mw"/>
    <child  link="larm-shoulder-p"/>
    <origin xyz="0 0.0465 0.102" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-r" type="revolute">
    <parent link="larm-shoulder-p"/>
    <child  link="larm-shoulder-r"/>
    <origin xyz="0 0.031 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-shoulder-y" type="revolute">
    <parent link="larm-shoulder-r"/>
    <child  link="larm-shoulder-y"/>
    <origin xyz="0 0 -0.015" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-elbow-p" type="revolute">
    <parent link="larm-shoulder-y"/>
    <child  link="larm-elbow-p"/>
    <origin xyz="0 0 -0.041" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-wrist-p" type="revolute">
    <parent link="larm-elbow-p"/>
    <child  link="larm-wrist-p"/>
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.18166" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-wrist-r" type="revolute">
    <parent link="larm-wrist-p"/>
    <child  link="larm-wrist-r"/>
    <origin xyz="0.015 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper-r" type="revolute">
    <parent link="larm-wrist-r"/>
    <child  link="larm-gripper-r"/>
    <origin xyz="0.0315 0.0105 0" rpy="0 -0 0 "/>
    <axis   xyz="2.22045e-16 0 1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="larm-gripper2-r" type="revolute">
    <parent link="larm-wrist-r"/>
    <child  link="larm-gripper2-r"/>
    <origin xyz="0.0315 -0.012979 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 -1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-crotch-w" type="revolute">
    <parent link="torso-link-l4mw"/>
    <child  link="lleg-crotch-w"/>
    <origin xyz="0.054 0.048 -0.065" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1745.33" upper="1745.33" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="lleg-knee-w" type="revolute">
    <parent link="torso-link-l4mw"/>
    <child  link="lleg-knee-w"/>
    <origin xyz="-0.054 0.048 -0.065" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1745.33" upper="1745.33" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-p" type="revolute">
    <parent link="torso-link-l4mw"/>
    <child  link="rarm-shoulder-p"/>
    <origin xyz="0 -0.0465 0.102" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-r" type="revolute">
    <parent link="rarm-shoulder-p"/>
    <child  link="rarm-shoulder-r"/>
    <origin xyz="0 -0.031 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-1.91986" upper="1.91986" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-shoulder-y" type="revolute">
    <parent link="rarm-shoulder-r"/>
    <child  link="rarm-shoulder-y"/>
    <origin xyz="0 0 -0.015" rpy="0 -0 0 "/>
    <axis   xyz="0 0 1"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-elbow-p" type="revolute">
    <parent link="rarm-shoulder-y"/>
    <child  link="rarm-elbow-p"/>
    <origin xyz="0 0 -0.041" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.96706" upper="2.96706" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-wrist-p" type="revolute">
    <parent link="rarm-elbow-p"/>
    <child  link="rarm-wrist-p"/>
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-2.18166" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-wrist-r" type="revolute">
    <parent link="rarm-wrist-p"/>
    <child  link="rarm-wrist-r"/>
    <origin xyz="0.015 0 0" rpy="0 -0 0 "/>
    <axis   xyz="1 0 0"/>
    <limit lower="-2.35619" upper="2.35619" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-gripper-r" type="revolute">
    <parent link="rarm-wrist-r"/>
    <child  link="rarm-gripper-r"/>
    <origin xyz="0.0315 -0.0105 0" rpy="0 -0 0 "/>
    <axis   xyz="0 0 -1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rarm-gripper2-r" type="revolute">
    <parent link="rarm-wrist-r"/>
    <child  link="rarm-gripper2-r"/>
    <origin xyz="0.0315 0.012979 0" rpy="0 -0 0 "/>
    <axis   xyz="4.44089e-16 0 1"/>
    <limit lower="-1.74533" upper="1.74533" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-crotch-w" type="revolute">
    <parent link="torso-link-l4mw"/>
    <child  link="rleg-crotch-w"/>
    <origin xyz="0.054 -0.048 -0.065" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1745.33" upper="1745.33" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
  <joint name="rleg-knee-w" type="revolute">
    <parent link="torso-link-l4mw"/>
    <child  link="rleg-knee-w"/>
    <origin xyz="-0.054 -0.048 -0.065" rpy="0 -0 0 "/>
    <axis   xyz="0 1 0"/>
    <limit lower="-1745.33" upper="1745.33" effort="0.656248" velocity="7.47998" />
    <dynamics damping="0.2" friction="0" />
  </joint>
</robot>
